{#This file is part of Rogō

Rogō is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Rogō is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the master question display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables -
data.url - the paper url

Required localised strings -
lang.ok -
#}
<section aria-label="{{lang.password}}">
    <form action="{{data.url}}" method="post" autocomplete="off">
        <p class="paperpassword">
            <input aria-labelledby="noticemsg" type="password" name="paperpwd" id="paperpwd" /><br />
            <input type="submit" value="{{lang.ok}}" class="ok" />
        </p>
    </form>
</section>
