<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html;charset={{charset}}" />
  <title>{{lang.title}}</title>
  <link rel="stylesheet" type="text/css" href="{{path}}/css/body.css" />
  <link rel="stylesheet" type="text/css" href="{{path}}/css/check_delete.css" />
  <script id="rogoconfig" data-lang="{{language}}" data-root="{{path}}"></script>
  <script src='../js/require.js'></script>
  <script src='../js/main.min.js'></script>
  <script src="../js/deleteinit.min.js"></script>
</head>

<body>

<p>{{lang.success}}<p>

<div class="button_bar">
  <form action="" method="get" autocomplete="off">
    <input type="button" name="ok" value="OK" class="ok" />
  </form>
</div>

</body>
</html>
