{#This file is part of Rogō

Rogō is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Rogō is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the paper settings display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2020 onwards The University of Nottingham

Required variables:

data - paper settigns from PaperSettings->get or PaperSettings->getSettingDeclartions

Required localised language strings -

lang.remote_summative
#}
{% for category, settings in data %}
<div class="settings">
    {% for setting,item in settings %}
        <label for="{{setting}}">{{attribute(lang, setting)}}</label>
    {% if item.type == 'boolean' %}
        <input type="checkbox" id="{{setting}}" name="{{setting}}" {% if item.value == 1 %} checked {% endif %}/>
        {% set tip = setting ~ '_tip' %}
        <img src="{{path}}/artwork/tooltip_icon.gif" class="help_tip" title="{{attribute(lang, tip)}}" />
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
