{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the fill in the blank question type with drop down display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.blankoptions - array of text and fill in the blank options
blankoptions.itemtype - blurb or blank option list
blankoptions.itemcount - id of fill in the blank option list
blankoptions.unans - flag indicating if fill in the blank has been previously answered
blankoptions.itemvalue - blurb text or blank option
itemvalue.answer - option
itemvalue.selected - flag indicating if option was previously seleced
data.questionno - the question number
data.print - flag to indicate if the question is being printed
#}
<div class="blank vertical">
{# Display options table #}
{% if data.print %}
    <div class="extmatch_opt_table">

        {% set num = 0 %}
        {% for i,o in data.blankoptions %}
            {% if o.itemtype != 'blurb' %}
                {% set num = num + 1 %}
        <div>
            <strong>{{num}}.</strong>
            <ol>
                {% for a in o.itemvalue %}
                <li>{{a.answer|raw}}</li>
            {% endfor %}
            </ol>
        </div>
                {% endif %}
        {% endfor %}

    </div>
{% endif %}
    <div class="question-container">
    {% set num = 0 %}
    {% for i,p in data.blankoptions %}
        {% if p.itemtype == 'blurb' %}
        {{p.itemvalue|raw}}
        {% else %}
        {% set num = num + 1 %}
        {% if data.print %}
        <strong>&nbsp;{{num}}.</strong>
        {% endif %}
        <div class="question-cell">
            <select aria-label="{{lang.answerblank}}" name="q{{data.questionno}}_{{p.itemcount}}" {% if p.unans %} class="unans" {% endif %}>
                <option value="u"></option>
                {% for a in p.itemvalue %}
                <option value="{{a.answer|raw}}" {% if a.selected %} selected {% endif %}>{{a.answer|raw}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
