        </div>
      <p><input type="submit" class="ok" name="submit" value="{{lang.save}}"><input class="cancel" id="cancel" type="button" name="home" value="{{lang.cancel}}" /></p>
    </form>
</div>