html, body {
	height: 100%;
	max-height: 100%;
}

body {
	background-color: #F1F5FB;
	font-size: 100%;
	margin: 0;
}

h1 {
  margin: 0;
  color: #000;
  font: 32px/36px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 4px;
}

h3 {
  font-weight: bold;
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 4px;
}

table {
	 border-collapse:collapse;
}

th, td {
  margin: 0;
  padding: 2px 3px;
}

ul {
  padding: 0;
}

p {
	font-size: 90%;
}

#team-select input[type="checkbox"] {
  margin-left: 22px;
}
#q-keywords input[type="checkbox"] {
  margin-left: 22px;
}

dt {
	float: left;
	font-weight: bold;
	text-align: right;
	width: 28px;
	padding: 0 4px 4px 0;
}

dd {
	margin-left: 34px;
  padding: 0 0 4px 0;
}

/* General classes */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.disabled[type="text"] {
	border: 1px solid #CCCCCC !important;
  background-color: #F9F9F9;
	color: #595959;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.heavy {
	font-weight: bold;
}

.indent {
  padding-left: 2em;
}

.align-top {
  vertical-align: top!important;
}

.align-bottom {
  vertical-align: bottom!important;
}

.align-right {
  text-align: right!important;
}

.align-left {
  text-align: left!important;
}

.align-centre {
  text-align: center!important;
}

.spaced-top {
  padding-top: 12px;
  margin-top: -4px;
}

.spaced-bottom {
  padding-bottom: 12px;
}

.spaced-right {
  margin-right: 8px;
}

.spaced-right-large {
  margin-right: 24px;
}

.message {
  color: #666;
  text-align: center;
  font-size: 90%;
}

.note {
  font-size: 90%;
  font-weight: normal;
  color: #808080;
}

.subheading {
  font: 18px/18px Arial, sans-serif;
  font-weight: normal;
  padding-bottom: 6px;
}

.mandatory {
  font-family: 'Courier New';
  font-weight: bold;
  color: #C00000;
}

.warning {
  color: #C00000;
}
  
.warning-severe {
  color: #f00;
}
  
.alt {
  background-color: #E2EBFA;
}

.bordered {
  border: 1px solid #7f9db9;
}

.separated {
  border-right: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
}

.submit {
	width: 170px;
}

.more-text {
	display: none;
}

.compact {
	margin: 0;
	padding: 0;
}

td.separated:last-child {
  border-right: none;
	border-top: 1px solid #cfcfcf;
}

#errors {
	width: 790px;
	padding: 4px 4px 4px 52px;
	border: 1px solid #ccc;
	background-color: #C00000;
}

#errors li {
	list-style: none;
	color: #fff;
	font-weight: bold;
}

#major-error.edit-spacer {
	margin-top: 80px;
}

#page-header {
	width: 100%;
	padding: 0;
  background: #D3E5FF url('../artwork/edit_question_small.png') no-repeat 6px 2px;
  position: fixed;
  top: 0;
  z-index: 25;
}

#page-header-inner {
  padding: 0 0 12px 64px;
  height: 39px;
}

#page-header-inner p {
  margin: 0;
  font-weight: bold;
}

.question-stats {
	margin: 2px 4px 0 0;
	float: right;
	font-size: 90%;
}

/* Tabs */
.tab-bar {
  height: 34px;
  background-color: #1e3c7b;
	margin-top: 4px;
}

.tab-holder {
  height: 21px;
  background-color: #D3E5FF;
}

.tabs {
  margin: 0;
  padding: 0;
}

.tabs li {
	padding-top: 2px;
  width: 126px;
  height: 19px;
  float: left;
  list-style: none;
  text-align: center;
  background-color: #517DBF;
  border-right: 1px solid #DFECFF;
}

.tabs li.on {
  background-color: #1E3C7B;
}

.tabs li.disabled {
  background-color: #808080;
}

.tabs li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 90%;
  text-decoration: none;
}

#changes, #comments, #mapping, #performance {
	display: none;
}

#tabbed-content {
  height: 100%;
  padding: 85px 0 0 0;
  margin-bottom: 0;
}

#tabbed-content.banner-spaced {
  padding-top: 120px;
}

.tab-area {
	padding-bottom: 65px;
}

#bar-spacer {
	height: 450px;
	min-height: 450px;
}

#button-bar {
	width: 100%;
	padding: 6px 0 16px 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #D3E5FF;
	border-top: 1px solid #517DBF;
  z-index: 25;
}

/* Banners */
.banner {
	height: 32px;
  background: #dfecff url('../artwork/locked_gradient.png') repeat-x top left;
}

.banner p {
  background: transparent url('../artwork/paper_locked_padlock.png') no-repeat 4px 3px;
	height: 32px;
  line-height: 32px;
  margin: 0;
  padding-left: 28px;
}

#question-holder {
	width: 949px;
	margin: 0 auto;
}

/* Form */
.form {
	width: 949px;
	margin: 0 auto 24px auto;
}

div.form {
	margin-bottom: 0;
}

.form td {
	font-size: 90%;
}

.form textarea {
	padding: 0;
}

.form-large {
  width: 693px;
  width: 754px;
}

.form-med-large {
  width: 665px;
}

.form-med {
  width: 500px;
}

.form-small {
  width: 140px;
}

.form-tiny {
  width: 80px;
}

.form-minute {
  width: 70px;
}

.form-img {
	vertical-align: bottom;
}

.form-fixed {
  resize: none;
}

.auto {
  width: auto!important;
}

.sct-option {
  background-color: #d6dff7;
}
	
.form th {
  width: 156px;
  text-align: right;
  font-weight: bold;
  font-size: 85%;
  color: #000;
  padding-right: 6px;
}

.form.vertical th {
  width: auto;
  text-align: left;
}

.form .small {
  width: 92px;
}

.auto-sized th, .auto-sized td {
	width: auto;
}

.form.hotspot {
	margin-left: 0;
}

input.error, textarea.error, select.error, .invalid {
  border: 1px solid #C00000  !important;
  box-shadow: 0 0 6px rgba(200, 0, 0, 0.85);
}

label.error {
	font-weight: bold;
}

textarea, input[type=text], select {
	font-size: 100%;
  border: 1px solid #909090;
  overflow: auto;
}

input[type=text] {
	overflow: hidden;
}

textarea[disabled], textarea[readonly="readonly"], select:disabled, input[type=text]:disabled, .editor-disabled {
  border: 1px solid #CCCCCC;
  background-color: #F9F9F9;
	color: #595959;
}

/* Media */
.media-delete {
	margin-left: 8px;
}


/* Metadata */
.radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.radio-list.horizontal li {
  float: left;
  padding-right: 12px;
}

.radio-list label {
	width: 100%;
  font-size: 90%;
}

.radio-list label.fullwidth {
  display: block;
  float: left;
}

.radio-list label.fullwidth:hover {
  background-color: #FFE7A2;
}

.radio-list label.fullwidth.on {
	background-color: #FFBD69;
}
	
.select-area {
  float: left;
}

.select-group {
	height: 300px;
	max-height: 300px;
	overflow: auto;
	background-color: white;
	border: 1px solid #909090;
	font-size: 90%;
}

.select-group h4 {
	font-weight:normal;
	color: #1e3287;
	padding: 0;
	margin: 8px 0;
	font-size: 80%;
	line-height: 100%;
	background: #fff url('../artwork/separator1x1.png') repeat-x left center;
}

.opaque {
	background-color: #fff;
	padding-right: 4px;
  font-size: 110%;
}

#keyword-select {
	width: 270px;
	margin-right: 12px;
}

#team-select {
	width: 518px;
}

/* 'data' tables */
.data {
	width: 100%;
  font-size: 90%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.data th {
	text-align: left;
  font-weight: normal;
  background-color: #CFDBEB;
  border-bottom: 1px solid #ccc;
}

.data th.data-medium {
  width: 16%;
}

.data th.data-small {
  width: 12%;
}

.data th.data-tiny {
  width: 3%;
}

#extmatch-options {
  margin-top: -30px;
  margin-right: -200px;
	float: right;
}

#extmatch-options h2 {
	margin-top: 0px;
}

.extmatch-option {
	height: 34px;
}

#extended-option-list {
	font-size: 90%;
}

#question-holder.wide {
  padding-right: 200px;
}

/* media upload */
#media-upload-holder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  min-height: 100%;
  background: rgba(255,255,255,.5);
	z-index: 30;
}

#media-upload {
	width: 502px;
/*	height: 276px; */
	background-color: white;
  border: 3px solid #1958B7;
	margin: 150px auto 0 auto;
	padding: 12px 24px;
}

#media-label-upload {
  margin: 0;
  padding: 0;
  display: none;
}

.editor-disabled {
  height: 140px;
  overflow: auto;
  padding-top: 26px;
}

.editor-disabled p {
  padding: 4px;
}
.editor-disabled div {
  padding: 4px;
}

.mce-widget.mce-tooltip {
  display: none !important;
}

.filepicker {
    width: 150px;
    height: 25px;
    margin: 4px 4px 4px 0;
}

.filepickersection {
    display: none;
}

.filepickertextarea {
    width: 500px;
    height: 50px;
}

#alt label {
    vertical-align: top;
}
