a {
  text-decoration: none;
}
a.user {
  color: black;
}
a.user:hover {
  color: white;
  background-color: #000080;
}
.field {
  text-align: right;
  padding-right: 10px;
}
.mk {
  padding-right: 10px;
}
.r {
  text-align: right;
}
.redln {
  border-bottom: solid red 1px;
  line-height: 150%;
}
.greyln {
  border-bottom: solid #EEEEEE 1px;
  line-height: 150%;
}
.guestln {
  border-bottom: solid #AD9131 1px;
  line-height: 150%;  
}
.ordered {
  background-color: #F7F7F7;
}
.grey {
  color:#808080;
}
.exclude {
  color:red;
  text-decoration: line-through;
}
.nonattend {
  color: #808080;
  background-color: #EEEEEE;
  border-bottom: solid white 1px;
  line-height: 150%;
}
.dist {
  color: #538135;
}
.fail {
  color: #C00000;
}
.tmpacc {
  background-color: #E0CC86;
}
.popup_close {
  text-align: right;
  margin-right: 5px;
}
.papernote {
  margin: 10px;
  padding: 10px;
  width: 300px;
  min-height: 100px;
  line-height: 150%;
  float: left;
  background-color: #FCE699;
  border: 1px solid #E6B10D;
}
.studentnote {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  z-index: 10000;
  font-size: 90%;
  background-color: #FCE699;
  border: 1px solid #E6B10D;
}
.studentaccess {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  z-index: 10000;
  font-size: 90%;
  background-color: #EEF4FF;
  border: 1px solid #295AAD;
}
.toiletbreak {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  z-index: 10000;
  font-size: 90%;
  background-color: #D3F3FF;
  border: 1px solid #019CD5;
}
.break {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  z-index: 10000;
  font-size: 90%;
  background-color: #D3F3FF;
  border: 1px solid #019CD5;
}
.staff {
  background-color: #FCD5B4;
}
.subheading {
  font-size: 110%;
  padding-right: 2px;
  padding-bottom: 5px;
  color: #1E3287;
}
.q_no {
  padding-left: 15px;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}
.q_msg {
  padding-bottom: 10px;
}
.marking {
  border: 2px solid #FCE699;
	background-color: #FFFFEE;
	color: #404040;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 10px;
	height: 32px;
}
.graph {
  margin-left: 20px;
}
.picon {
  width: 16px;
  height: 16px;
}
.note {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
.16icon {
  width: 16px;
  height: 16px;
  margin-left: 1px;  
}
.accessibility {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.swatch {
  display: inline-block;
  width: 50px;
  height: 14px;
  border: 1px solid black;
}
.popupclose {
  cursor: pointer;
  width: 26px;
  height: 14px;
}
