.configlist {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.config {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #eef4ff;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.configheading {
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 5px;
}
.configvalue {
  font-size: 1em;
  display: grid;
  margin-right: 5px;
}
.configtable {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.configextra {
  font-style: italic;
  font-size: 1em;
}
.configarea {
  margin: auto;
  font-weight: bold;
  font-size: 1.3em;
}
.configareaextra {
  font-weight: normal;
  font-size: 1em;
}
#display_ims {
    display: none;
}