body {
    margin-bottom: 10px;
}

h1 {
    margin-left: 15px;
    font-size: 18pt;
}

p {
    margin-left: 0;
    margin-right: 0;
}

.figures {
    text-align: right;
}

.q_no {
    text-align: right;
    vertical-align: top;
    width: 50px;
}

.extmatch li {
    padding-bottom: 14px;
    vertical-align: text-bottom;
    list-style-type: lower-roman;
}

.correct {
    color: #000;
    font-weight: bold;
}

.excluded {
    color: red;
    text-decoration: line-through;
}

.excluded img {
    border: 2px solid red;
}

.excluded img.in-exclusion {
    border: 0;
}

.in-exclusion:hover {
    background-color: #FFE7A2;
}

td p:first-child {
    margin-top: 0;
}

.matrix {
    border: 1px solid #808080;
    border-collapse: collapse;
}

.matrix td {
    border: 1px solid #808080;
}

.subsect_table {
    margin-left: 6px;
    margin-bottom: 10px;
}