.fileupload {
    display: flex;
    flex-flow: column;
    padding:10px
}

#file {
    padding-bottom: 5px;
}

.filepickerchk {
    display: flex;
    flex-flow: row;
}

.filepickerchk p {
    cursor: pointer;
}
