.header {
  border: 0;
  font-size: 100%;
}
table.header {
  width: 100%;
  border-collapse: collapse;
}
.header th {
  background-color: #EEF4FF;
  font-weight: normal;
  text-align: left;
  padding: 0;
  border: 0;
}
.header th.vert_div {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
	padding-left: 6px;
	padding-right: 5px !important;
	white-space: nowrap;
}
.header th.vert_div a{
  color: black;
}
.head_title {
  background-color: #EEF4FF;  
}
.breadcrumb {
  padding-top: 2px !important;
  padding-left: 10px !important;
  font-size: 90%;
  cursor: pointer;
}
.breadcrumb a:link {
  color: #295AAD;
  text-decoration: none;
}
.breadcrumb a:visited {
  color: #295AAD;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: #295AAD;
  text-decoration: underline;
}
.breadcrumb_arrow {
  width: 4px;
  height: 7px;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.subsect {
  margin-left: 8px;
  margin-top: 6px;
  margin-bottom: 4px;
  color: #1F497D;
}
.subsect_table {
	margin-top: 6px;
  margin-bottom: 12px;
	display: table;
	width: 98%;
  border-spacing: 0;
  border-collapse: collapse;

}
.subsect_title {
	display: table-cell;
	vertical-align: middle;
	height: auto;
  min-width: auto;
  padding-left: 2px;
  padding-right: 5px;
  color: #1F497D;
}
.subsect_hr {
	display: table-cell;
	vertical-align: middle;
	height: auto;
  width: 100%;
}

.calyeartabs {
    margin-top: 8px;
    margin-left: auto;
    margin-right: 0px;
}
