.sciCalculator {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.calc {
  display: none;
  z-index: 10;
  border: 2px solid #888;
  color: #000;
  background-color: #DCDDDE;
  width: 250px;
  height: 374px;
  position: absolute;
  left: 0;
  top: 0;
}

div.calc table, td {
  font-size: 100%;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse;
}

div.calc form {
  margin: 0;
}

div.calc h1 {
  font-size: 150%;
  color: black;
}

div.calc h2 {
  font-size: 140%;
  color: #f27000;
}

div.calc *.b {
  padding: 0px;
  margin: 1px;
  width: 40px;
}

div.calc a {
  text-decoration:none;
}

div.calc a:hover {
  text-decoration:none;
}

div.calc a.del {
  border-radius: 4px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #CC9933;
  color: white !important;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  font-size: 110%;
}

div.calc a.ac {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #C00000;
  color: white !important;
  display: block;
  font-size: 110%;
}

div.calc .ac:hover {
  background: #AD0101;
  text-decoration:none;
}

div.calc a.b1, .label-button {
  text-decoration: none;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #696A6A;
  color: white !important;
  display: block;
  font-size: 80%;
}

div.calc .b1:hover {
  background: #454646;
  text-decoration: none;
}

div.calc a.b2 {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #454646;
  color: white !important;
  display: block;
  font-size: 110%;
}

div.calc .b2:hover {
  background: #292929;
  text-decoration: none;
}

div.calc a.b3 {
  background-color: #ECB01F;
  color: black !important;
}

div.calc a.b3:hover {
  background-color: #ECB01F;
  color: black !important;
  text-decoration: none;
}

div.calc .trigmode, a.memBut {
  font-size: 90%;
}

div.calc #ans {
  border: 1px solid #C0C0C0;
  background-color: white;
  height: 22px;
  width: 210px;
  font-weight: bold;
  font-size: 12pt;
  text-align: right;
}

div.calc *.LCD {
  display: none;
}

div.calc *.memory {
  text-decoration: none;
  border: 1px solid #ededed;
  line-height: 20px;
  background-color: #ededed;
  text-align: left;
  font-size: 90%;
  color: #000040;
  width: 100%;
}

div.calc .path {
  background-color: #F2F2F2;
  color: #666666;
  font-size: 80%;
  padding-left: 10px;
  border-bottom: 1px solid #B6B6B6;
}

div.calc .subheading {
  font-weight: bold;
  font-style: italic;
}

div.calc .tutorial {
  background-color: #FCF6CF;
  width: 95%;
  cursor: pointer;
}

div.calc tr.spaced td {
  padding-top: 8px;
}

div.calc label {
  font-size: 80%;
}

div.calc .offscreen {
  position: absolute;
  left: -9999px;
}

div.calc .label-button {
  width: 40px;
  float: left;
  margin: 0 1px 0 1px;
  overflow: hidden;
}

div.calc .label-button.selected {
  background-color: #ECB01F;
  color: black !important;
}

div.calc .label-button.off {
  background-color: #C00000;
  color: white !important;
  font-weight: bold;
  margin-left: 44px;
}
