body {
    font-family: Arial,sans-serif;
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    background-color: #EAEAEA;
}
h1 {
    color: #C00000;
    font-size: 1.8em;
    font-weight: bold;
}
.box {
    width: 60%;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #C00000;
    background-color: white;
}
img {
    float: left;
}