.field {
    text-align:right;
    padding-right:10px;
}
.form-error {
    width: 468px;
    margin: 18px auto;
    padding: 16px;
    background-color: #FFD9D9;
    color: #800000;
    border: 2px solid #800000;
    display: none;
}