body {
    font-size:0.9em;
}
.field {
    padding-top:4px;
    padding-left:6px;
    font-weight:bold;
}
.table1 {
    width:500px;
    border:1px #C8C8C8 solid;
}
.table2 {
    width:100%;
    text-align:left;
    border: 0;
}
.ok {
    text-align:center;
}
.fingerprint {
    height:70px;
    width:100%;
    background-color:#EAEAEA;
    font-size:1.5em;
    font-weight:bold;
    padding-left:6px
}
.image {
    text-align:right;
    width:135px;
}
.imagetext {
    text-align:left;
}
.info {
    padding:6px;
}