@import url("start.css");

html {
  overflow: unset;
}

#maincontent {
  overflow: unset;
}

.questions {
  flex: unset;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

.paper {
  margin-left: 10px;
  font-family: Arial,sans-serif;
  font-size: 180%;
  color:black;
  font-weight: bold;
}

.question-matrix .question-container {
  page-break-inside: avoid;
}

.matrix .question-cell {
  display: table-cell;
  background-image: url('../artwork/print_box_tick.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.matrix .question-cell input {
  display: none;
}

.extmatch li {
  padding-bottom: 24px;
  background-image: url('../artwork/print_box_a.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.likert_button {
  background-image: url('../artwork/print_box_tick.png');
  background-repeat: no-repeat;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.page_break {
  page-break-after: always;
}

.question-dichotomous .question-container {
  display: table;
  table-layout: fixed;
  page-break-inside: avoid;
}

.question-dichotomous .question-cell {
  display: table-cell;
  text-align: center;
  padding: 2px;
  background-image: url('../artwork/print_box_circle.png');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-dichotomous .question-label {
  background-image: none;
}

.question-likert .question-parent {
  display: table;
  table-layout: fixed;
  page-break-inside: avoid;
}

.question-blank .question-cell {
  background-image: url('../artwork/print_box_a.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 32px;
  width: 32px;
  margin-left: 4px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-mrq .question-container {
  background-image: url('../artwork/print_box_tick.png');
  background-repeat: no-repeat;
  height: 32px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-true_false .question-container,
.question-mcq .question-container {
  background-image: url('../artwork/print_box_circle.png');
  background-repeat: no-repeat;
  height: 32px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-sct .optiontext {
  background-image: url('../artwork/print_box_circle.png');
  background-repeat: no-repeat;
  height: 32px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  padding-left: 30px;
}

.question-mcq select {
  background-image: url('../artwork/print_box_a.png');
  background-repeat: no-repeat;
  height: 32px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-sct input,
.extmatch select,
.question-likert input,
.question-true_false input,
.question-true_false select,
.sciCalculator,
.question-dichotomous input,
.blank select,
.question-rank select,
.question-mcq select,
.question-mcq input,
.question-mrq input {
  display: none;
}

.question-true_false .optiontext,
.question-mcq .optiontext,
.question-mrq .optiontext {
  margin-left: 30px;
  margin-top: 4px;
}

.question-rank .question-label {
  background-image: url('../artwork/print_box_1.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.question-rank .question-label span {
  margin-left: 3em;
  vertical-align: baseline;
}

.headerbar {
  background-color: #FFFFFF;
}

.hotspot ol,
.label ol {
  list-style-type: upper-alpha;
}

.labelimage{
  background-image: url('../artwork/print_box_a.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.labellingcontainer {
  position: relative;
}
