body {
  background-color: #F0F0F0;
  overflow: hidden;
}
table {
  text-align: left;
}
#modules_list input[type="checkbox"] {
  margin-left: 4px;
}
.mod {
  text-indent: 0;
  margin-left: 18px;
}
#labs_list input[type="checkbox"] {
  margin-left: 22px;
}
.r1 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
}
.r2 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #FFBD69;
}
.r1disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
  color: #808080
}
.r2disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #DDDDDD;
  color: #808080;
}
extarea, input[type=text], select, textarea, input[type=password] {
  border: 1px solid #ABADB3;
}
.headbar {
  background-color: #EEEEEE;
	border-bottom: 1px solid #E2E4E7;
}
.tab {
  height: 25px;
  padding-left: 6px;
  cursor: default;
}
.tab:hover {
  background-color: #FFE7A2;
}
.tabon {
  height: 25px;
  padding-left: 6px;
  cursor: default;
  background-color: #FFBD69;
}
.tabtitle {
	background-color: #C2D5F3;
	height: 49px;
	font-size: 110%;
	padding-left: 16px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.tabtitle img {
	width: 34px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
}
.tabsection {
  width: 100%;
  font-size: 90%;
  height: 590px;
  border-spacing: 0;
}
.tabsection td {
  padding: 0;
}
.cellpad2 td {
  padding: 2px;
}
.cellpad6 td {
  padding: 6px;
}
.cancel {
  margin-right: 0;
}
.settings {
    display: flex;
    padding-left: 10px
}
