.updatebutton {
  background-color: #4f81bd;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  margin: auto;
}
.requirements {
  display: flex;
  flex-direction: column;
}
.requirements-item {
  margin: auto;
  width: 90%;
}
.requirements-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1em;
}
.requirements-body {
  display: flex;
  justify-content: space-between;
  padding: 15px 32px;
}