.logo_img {
  width: 51px;
	height: 51px;
	float: left;
	padding-right: 8px;
}

.logo_lrg_txt {
	color: #477DCC;
	font-size: 28pt;
	font-weight: bold;
	position: relative;
	top: -6px;
	line-height: 110%;
  width: 280px;
  font-family: Arial,sans-serif !important;
  margin: 0;
}

.logo_small_txt {
	color: #477DCC;
	font-size: 9pt;
	position: relative;
	top: -3px;
  width: 350px;
  font-family: Arial,sans-serif !important;
}
