blockquote {
	margin-left: 15px;
	margin-right: 15px;
}

table.stats {
	border-spacing: 0;
	width: 100%;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

.stats {
	font-size: 100%;
}

.stats th {
	background-color: #EAEAEA;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	font-weight: normal;
	vertical-align: bottom;
}

.stats td {
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}

.n {
	text-align: right;
}

.faculty {
  font-weight: bold;
	padding-top: 10px;
}

.subtotal {
  border-top: 1px solid #808080 !important;
	font-weight: bold;
}

.grey {
  color: #C0C0C0;
}

.statsheader {
    font-size: 90%
}

.statsheader th {
    text-align: right;
}

#yeartabs {
    text-align: right;
    vertical-align: bottom;
}

#statsfooter {
    border: 0;
    background-color: #1E3C7B;
    height: 5px;
}

body {
    padding-left: 0;
}

.labs {
    width: 350px !important;
}

.summary {
    width: 500px !important;
}
