html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

input {
  font-size: 90%;
}
p {
  margin: 2px 0 8px 0;
}
hr {
  background-color: #95AEC8;
  color: #95AEC8;
  height: 1px;
  width: 80%;
  border: 0;
}
form {
	margin-top: 25px;
}
.noimg {
	display: none;
	width: 0;
	height: 0;
}
.paper_title {
  font-size: 24pt;
  font-weight: bold;
  color: #295AAD;
}
.f {
  text-align: right;
  line-height: 180%;
  padding-right: 0.3em;
  width: 20%;
}
.w {
  font-size: 90%;
  color: #C00000;
  font-weight: bold;
}
.warn {
  color: #C00000;
  font-weight: bold;
}
.logout {
  float: right;
  font-weight: bold;
  color: #C00000;
  cursor: pointer;
}
a.logout {
  color: #C00000;
}
.testclip {
  color: #D27800;
  font-size: 90%;
  font-weight: bold;
}
.powered {
  font-family: Arial,sans-serif;
  color: #295AAD;
  font-size: 75%;
  padding: 10px;
  text-align: right;
}
.bullet {
  width: 16px;
	height: 16px;
  padding-right: 8px;
}
input[type=button].notok:hover {
  border: 1px solid #C00000;
  background: #FF8080;
}
.photoid {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 95px;
  font-size: 90%;
  text-align: center;
  margin-bottom: 4px;
}
#info_overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background: rgba(255,255,255,.5);
}
#info_submit_dialog{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 200px;
  border: 3px solid #1958B7;
  background-color: white;
}
#info_submit_dialog_icon {
  float: left;
  margin: 10px 15px 10px 10px;
}
#info_submit_dialog_title{
  margin: 10px 10px 10px 20px;
  text-align: left;
  font-weight: bolder;
  font-size: x-large;
}
#info_submit_dialog_msg{
  margin: 40px 10px 10px 20px;
  text-align: left;
}
#info_submit_dialog_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EAEAEA;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logissue {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navmenu {
  text-align: right;
  padding-right: 2px;
}

.headerlinebreak {
  clear: both;
}

.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 100%;
  border-top: 1px solid #95AEC8;
  border-left: 1px solid #95AEC8;
  border-right: 1px solid #95AEC8;
  background-color: white;
  width: 80%;
}

.contenttable {
  display: table;
}

.contentrow {
  display: table-row;
}

.contentcell {
  display: table-cell;
}

.papericon {
  width: 48px;
  height: 48px;
  padding-left: 4px;
}

.details {
  font-size: 95%;
  border-top: 1px solid #95AEC8;
  background-color: #F1F5FB;
  width: 100%;
}

.userphoto {
  vertical-align: top;
  padding: 8px;
}

.photo {
  border: 10px solid white;
}

.rubric {
  vertical-align: top;
}

.rubricdetail {
  text-align: justify;
  line-height: 140%;
  padding-right: 20px;
  padding-bottom: 15px;
}

.notime {
  background-color: #C00000;
  color: white;
}

.center {
  text-align: center;
}

.ok {
  margin-right: 20px;
}

#start {
  font-weight: bold;
}

.startheader {
  display: flex;
  align-items: center;
}

.misc {
  display: flex;
  flex-flow: column;
  text-align: center;
  border-top: unset;
  border-bottom: 1px solid #95AEC8;
}

input[type=button] {
  width: 10em;
}

.previous {
  padding-bottom: 1em;
}

.multicolumn {
  display: flex;
}

.header {
  width: 60%;
}

.secondary {
  padding-right: 0.3em;
}

.metadata {
  flex-flow: wrap;
  width: 40%;
}
